.navbar {
    background-color: black;
    height: 74px;
}

.navbar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu,
.menu {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.navbar a {
    color: white;
}

.login {
    text-decoration: none;
}

.link--default {
    text-decoration: none;
}

.link--active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.toggle-menu,
.mobile-login {
    display: none;
}

@media screen and (max-width: 767px) {
    .menu a,
    .login {
        display: none;
    }

    .toggle-menu,
    .mobile-login {
        display: block;
        color: white;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu {
        position: absolute;
        top: 74px;
        left: 0;

        display: flex;
        flex-direction: column;
        gap: 1.5em;

        background-color: rgba(0,0,0,0.8);
        padding: 3em 2em;
    }

    .mobile-menu li {
        list-style-type: none;
    }
}